/* This is a CSS file */
/* This is a CSS file */
body {
  padding: 10px;
}

/*見た目の定義*/
.midashi {
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}

.menu {
  padding: 0;
  position: relative;
}

.item {
  color: white;
  background: #81d0cb;
  line-height: 1.5;
  padding: 0.5em 0.5em 0.5em 2em;
  border-left: 10px solid #1fa67a;
  border-bottom: 2px solid white;
  list-style-type: none !important;
  font-weight: bold;
}

.item-selected {
  color: white;
  background: #ee8e0f;
  line-height: 1.5;
  padding: 0.5em 0.5em 0.5em 2em;
  border-bottom: 2px solid white;
  list-style-type: none !important;
  font-weight: bold;
}